[user]
        email = andreas.morkesdal@gmail.com
        name = Andreassm99
[url "https://ghp_...............:@github.com/"]
        insteadOf = https://github.com/Andreassm99/REP01sem03simpleserver
